# Athlon login
ATHLON_USERNAME="email@example.com"
ATHLON_PASSWORD="my_password"

# Postgres
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="my_password"
POSTGRES_DB="athlon-data"
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
PGADMIN_DEFAULT_EMAIL="admin@example.com"
PGADMIN_DEFAULT_PASSWORD="my_password"
PGADMIN_LISTEN_PORT="80"